<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="airbnb, booking, city guide, directory, events, hotel booking, listings, marketing, places, restaurant, restaurant">
<meta name="description" content="Guido - Directory & Listing HTML Template">
<meta name="CreativeLayers" content="ATFN">
<!-- css file -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<!-- Responsive stylesheet -->
<link rel="stylesheet" href="/css/responsive.css">
<!-- Title -->
<title>경찰청 실종자 리스트</title>
<!-- Favicon -->
<link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
<link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		.col-lg-4{
			padding: 10px 10px 10px 10px;
		}
	</style>
</head>
<body>
<div class="wrapper">
	<div class="preloader"></div>
	<!-- 헤더 파일 시작! -->
	<th:block th:replace="header"></th:block>
	<!-- 헤더 파일 종료! -->
	<section class="bgc-f4 pt0-767">
		<div class="container">
			<!-- BackGround 이미지 추가하기 -->
		</div>
	</section>
	<!-- Listing Grid View -->
	<section class="our-listing pb30-991">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<hr style="border: 0; height: 2px; background: #0a0a0a;">
					<form action="" method="get">
						<div class="row">
							<div class="col-lg-4" style="padding: 10px 10px 10px 10px">
								<select name="writingTragetDscd" style="width: 100%; height:50px; border-radius: 10px; border: 1px solid #BDBDBD; text-align: center;">
									<option selected value="">대상구분</option>
									<option value="단순실종">단순실종</option>
									<option value="장기실종">장기실종</option>
								</select>
							</div>
							<div class="col-lg-4" style="padding: 10px 10px 10px 10px">
								<select name="detailWritingTragetDscd" style="width: 100%; height: 50px; border-radius: 10px; border: 1px solid #BDBDBD; text-align: center;">
									<option selected value="">상세구분</option>
									<option value="정상아동">정상아동(14세미만)</option>
									<option value="지적장애인">지적장애인</option>
									<option value="치매질환자">치매질환자</option>
								</select>
							</div>
							<div class="col-lg-4" style="padding: 10px 10px 10px 10px">
								<select name="occrAdres" style="width: 100%; height: 50px; border-radius: 10px; border: 1px solid #BDBDBD; text-align: center;">
									<option selected value="">지역</option>
									<option value="서울특별시">서울특별시</option>
									<option value="경기도">경기도</option>
									<option value="충청북도">충청북도</option>
									<option value="충청남도">충청남도</option>
									<option value="전라북도">전라북도</option>
									<option value="전라남도">전라남도</option>
									<option value="경상북도">경상북도</option>
									<option value="경상남도">경상남도</option>
									<option value="제주특별차지도">제주특별차지도</option>
									<option value="광주광역시">광주광역시</option>
									<option value="부산광역시">부산광역시</option>
									<option value="울산광역시">울산광역시</option>
								</select>
							</div>
						</div>

						<div class="row" style="margin-top: 2%">
							<div class="col-lg-4" style="padding: 10px 10px 10px 10px">
								<select name="sexDstnDscd" style="width: 100%; height: 50px;  border-radius: 10px; border: 1px solid #BDBDBD; text-align: center;">
									<option selected value="">성별</option>
									<option value="남자">남자</option>
									<option value="여자">여자</option>
								</select>
							</div>
							<div class="col-lg-4" style="padding: 10px 10px 10px 10px">
								<div class="mb-3">
									<input class="upload-name" value="이미지로 사람찾기" placeholder="이미지로 사람찾기" onclick="fileOpen();"
										   style="width: 100%; height: 50px;  border-radius: 10px; border: 1px solid #BDBDBD; text-align: center;">
									<input type="file" id="file" name="file" style="display: none;">
								</div>
							</div>
							<div class="col-lg-4" style="padding: 10px 10px 10px 10px">
								<button type="submit" class="btn btn-log btn-block btn-thm" style="height: 50px;">검색</button>
							</div>
						</div>
					</form>
					<hr style="border: 0; height: 2px; background: #0a0a0a;">

					<div class="row">
						<!-- 여기서 실종자 이미지 및 정보 돌리기 시작! -->
						<div class="col-md-6 col-lg-4">
							<div class="feat_property">
								<div class="thumb">
									<img class="img-whp" src="/images/listing/lg1.jpg" alt="lg1.jpg">
									<div class="thmb_cntnt">

										<ul class="tag2 mb0">
											<!-- 여기서 if문 걸어서 3개로 나눠서 제공해야해 정상아동, 지적장애, 치매 색깔다르게
                                             현재 정상아동은 빨간색으로 되어있는데 이거 바꿀껀지 얘기하자
                                            -->
											<li class="list-inline-item"><a href="#" style="background-color:;">정상아동</a>
											</li>
											<!-- <li class="list-inline-item"><a href="#" style="background-color:blue;">장애인</a></li> -->
											<!-- <li class="list-inline-item"><a href="#" style="background-color:green;">치매환자</a></li> -->

										</ul>

									</div>
								</div>
								<div class="details">
									<div class="tc_content">
										<h4>김범중(27세, 남자)</h4>
										<p>당시나이 : </p>
										<p>발생일시 : </p>
										<p>발생장소 : </p>
										<p>착의사항 : </p>
									</div>
									<div class="fp_footer">
										<ul class="prop_details mb0">
											<li class="list-inline-item"><a href="#"><span
													class="flaticon-phone pr5"></span>제보하기</a></li>
											<li class="list-inline-item"><a href="#"><span
													class="flaticon-pin pr5"></span>서울특별시 송파구</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
</div>
<!-- Wrapper End -->
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mmenu.all.js"></script>
<script src="/js/ace-responsive-menu.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/snackbar.min.js"></script>
<script src="/js/simplebar.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/scrollto.js"></script>
<script src="/js/jquery-scrolltofixed-min.js"></script>
<script src="/js/jquery.counterup.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/progressbar.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/timepicker.js"></script>
<!-- Custom script for all pages --> 
<script src="/js/script.js"></script>
<script>
	function fileOpen(){
		document.getElementById("file").click();
	}

	$("#file").on('change',function(){
		let fileName = $("#file").val();
		$(".upload-name").val(fileName);
	});
</script>
</body>
</html>