<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="airbnb, booking, city guide, directory, events, hotel booking, listings, marketing, places, restaurant, restaurant">
<meta name="description" content="Guido - Directory & Listing HTML Template">
<meta name="CreativeLayers" content="ATFN">
<!-- css file -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<!-- Responsive stylesheet -->
<link rel="stylesheet" href="/css/responsive.css">
<!-- Title -->
<title>Guido - Directory & Listing HTML Template</title>
<!-- Favicon -->
<link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
<link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
	<div class="preloader"></div>
	<!-- 헤더 파일 시작! -->
	<th:block th:replace="header"></th:block>
	<!-- 헤더 파일 종료! -->
	

	<!-- Home Design -->
	<section class="home-one home1-overlay bg-img2">
		<div class="container">
			<div class="row posr">
				<div class="col-lg-12">
					<div class="home_content home1">
						<div class="home-text text-center">
							<h2 class="fz50">Discover Dream Places</h2>
							<p class="fz18 color-white">Find great places to stay, eat, shop, or visit from local experts.</p>
						</div>
						<div class="row justify-content-center">
							<div class="col-lg-10 col-xl-8">
								<div class="home_adv_srch_opt text-center">
									<div class="wrapper">
										<div class="home_adv_srch_form home2">
											<form class="bgc-white bgct-767 pl30 pt10 pl0-767">
												<div class="form-row align-items-center">
												    <div class="col-auto home_form_input mb20-xsd">
												      	<label class="sr-only">Username</label>
												      	<div class="input-group style1 mb-2 mb0-767">
												        	<div class="input-group-prepend">
												        		<div class="input-group-text pl0 pb0-767">What</div>
												        	</div>
															<div class="select-wrap style1-dropdown">
														    	<select name="lang" class="form-control js-searchBox">
																	<option value="">Ex: shopping, restaurant...</option>
																	<option value="TopPicks">Top Picks</option>
																	<option value="CityOfLondon">City of London</option>
																	<option value="OutdoorActivities">Outdoor Activities</option>
																	<option value="Restaurant">Restaurant</option>
																	<option value="Hotels">Hotels</option>
														    	</select>
														    </div>
												      	</div>
												    </div>
												    <div class="col-auto home_form_input">
												      	<label class="sr-only">Username</label>
												      	<div class="input-group style2 mb-2 mb0-767">
												        	<div class="input-group-prepend">
												        		<div class="input-group-text pb0-767">Where</div>
												        	</div>
															<div class="select-wrap style2-dropdown">
														    	<select name="lang" class="form-control js-searchBox2">
																	<option value="">Your City</option>
																	<option value="NewYork">New York</option>
																	<option value="London">London</option>
																	<option value="Paris">Paris</option>
																	<option value="Istanbul">Istanbul</option>
																	<option value="LosAngeles">Los Angeles</option>
														    	</select>
														    </div>
												      	</div>
												    </div>
												    <div class="col-auto home_form_input2">
												    	<button type="submit" class="btn search-btn mb-2"><span class="flaticon-loupe"></span></button>
												    </div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- 경찰청 실종정보 -->
	<section id="property-city" class="property-city border-bottom pb70">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="main-title text-center">
						<h2>경찰청 실종정보</h2>
						<p>Cities You Must Explore This Summer</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="feature_place_home2_slider">
						<div class="item">
							<div class="properti_city">
								<div class="thumb"><img class="img-fluid w100" src="/images/property/pc5.jpg" alt="pc5.jpg"></div>
								<div class="overlay">
									<div class="details">
										<h4>Miami</h4>
										<p>62 Listing</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="properti_city">
								<div class="thumb"><img class="img-fluid w100" src="/images/property/pc6.jpg" alt="pc6.jpg"></div>
								<div class="overlay">
									<div class="details">
										<h4>Roma</h4>
										<p>92 Listing</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="properti_city">
								<div class="thumb"><img class="img-fluid w100" src="/images/property/pc7.jpg" alt="pc7.jpg"></div>
								<div class="overlay">
									<div class="details">
										<h4>New Delhi</h4>
										<p>12 Listing</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="properti_city">
								<div class="thumb"><img class="img-fluid w100" src="/images/property/pc8.jpg" alt="pc8.jpg"></div>
								<div class="overlay">
									<div class="details">
										<h4>London</h4>
										<p>74 Listing</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="properti_city">
								<div class="thumb"><img class="img-fluid w100" src="/images/property/pc5.jpg" alt="pc5.jpg"></div>
								<div class="overlay">
									<div class="details">
										<h4>Miami</h4>
										<p>62 Listing</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<!-- 우리꺼 실종정보 -->
	<section id="property-city" class="property-city border-bottom pb70">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="main-title text-center">
						<h2>우리꺼 실종정보</h2>
						<p>Cities You Must Explore This Summer</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="feature_place_home2_slider">
						<div class="item">
							<div class="properti_city">
								<div class="thumb"><img class="img-fluid w100" src="/images/property/pc5.jpg" alt="pc5.jpg"></div>
								<div class="overlay">
									<div class="details">
										<h4>Miami</h4>
										<p>62 Listing</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="properti_city">
								<div class="thumb"><img class="img-fluid w100" src="/images/property/pc6.jpg" alt="pc6.jpg"></div>
								<div class="overlay">
									<div class="details">
										<h4>Roma</h4>
										<p>92 Listing</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="properti_city">
								<div class="thumb"><img class="img-fluid w100" src="/images/property/pc7.jpg" alt="pc7.jpg"></div>
								<div class="overlay">
									<div class="details">
										<h4>New Delhi</h4>
										<p>12 Listing</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="properti_city">
								<div class="thumb"><img class="img-fluid w100" src="/images/property/pc8.jpg" alt="pc8.jpg"></div>
								<div class="overlay">
									<div class="details">
										<h4>London</h4>
										<p>74 Listing</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="properti_city">
								<div class="thumb"><img class="img-fluid w100" src="/images/property/pc5.jpg" alt="pc5.jpg"></div>
								<div class="overlay">
									<div class="details">
										<h4>Miami</h4>
										<p>62 Listing</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="why-chose" class="whychose_us bgc-f7 pb70">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="main-title text-center">
						<h2>How it Works</h2>
						<p>Bringing business and community members together.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4 col-xl-4">
					<div class="why_chose_us">
						<div class="icon">
							<span class="flaticon-find-location"></span>
						</div>
						<div class="details">
							<h4>Find Businesses</h4>
							<p>Discover &amp; connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-4">
					<div class="why_chose_us">
						<div class="icon">
							<span class="flaticon-comment"></span>
						</div>
						<div class="details">
							<h4>Review Listings</h4>
							<p>Discover &amp; connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-4">
					<div class="why_chose_us">
						<div class="icon">
							<span class="flaticon-date"></span>
						</div>
						<div class="details">
							<h4>Make a Reservation</h4>
							<p>Discover &amp; connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
</div>
<!-- Wrapper End -->
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mmenu.all.js"></script>
<script src="/js/ace-responsive-menu.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/isotop.js"></script>
<script src="/js/snackbar.min.js"></script>
<script src="/js/simplebar.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/scrollto.js"></script>
<script src="/js/jquery-scrolltofixed-min.js"></script>
<script src="/js/jquery.counterup.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/progressbar.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/timepicker.js"></script>
<!-- Custom script for all pages --> 
<script src="/js/script.js"></script>
</body>
</html>