<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords"
		content="airbnb, booking, city guide, directory, events, hotel booking, listings, marketing, places, restaurant, restaurant">
	<meta name="description" content="Guido - Directory & Listing HTML Template">
	<meta name="CreativeLayers" content="ATFN">
	<!-- css file -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- Title -->
	<title>실종자 편집</title>
	<!-- Favicon -->
	<link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
	<link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="wrapper">
		<div class="preloader"></div>
		<!-- 헤더 파일 시작! -->
		<th:block th:replace="header"></th:block>
		<!-- 헤더 파일 종료! -->
		<!-- Inner Page Breadcrumb -->
		<section class="inner_page_breadcrumb">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-6">
						<div class="breadcrumb_content">
							<h2 class="breadcrumb_title">About Us</h2>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">About Us</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- About Text Content -->
		<section class="about-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<div class="main-title text-center">
							<h2>실종자 편집</h2>
							<p>등록한 실종자 정보를 편집하세요.</p>
						</div>
					</div>
				</div>
				<div class="row mb30">
					<div class="col-xl-7">

					</div>
					<div class="col-xl-5">
						<div class="single_property_social_share">
							<div class="price mt25 float-right fn-lg">
								<button type="button" class="btn btn-lg btn-success">수정하기</button>
								<button type="button" class="btn btn-lg btn-danger">실종종료</button>
							</div>
						</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="about_thumb mb30-smd">
						<img class="img-fluid w100" src="/images/about/1.jpg" alt="1.jpg" id="ageNowImage"
							onclick="ageNowFileUpload();">
						<input type="file" style="display: none;" id="ageNowFile">

						<hr>
						<img class="img-fluid w100" src="/images/about/1.jpg" alt="1.jpg">
					</div>
					
				</div>
				<div class="col-lg-6">
					<form>
						<div class="">
							<div class="row">

								<div class="col-lg-6">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>대상구분</label>
										<div class="dropdown bootstrap-select" style="width: 100%;">
											<select class="selectpicker" data-live-search="true" data-width="100%"
												tabindex="-98" name="writingTragetDscd">
												<option data-tokens="">대상을 구분해주세요.</option>
												<option data-tokens="단순실종" value="단순실종">단순실종</option>
												<option data-tokens="장기실종" value="장기실종">장기실종</option>
												<option data-tokens="해외입양" value="해외입양">해외입양</option>

											</select>
										</div>
									</div>
								</div>

								<div class="col-lg-6">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>상세구분</label>
										<div class="dropdown bootstrap-select" style="width: 100%;">
											<select class="selectpicker" data-live-search="true" data-width="100%"
												tabindex="-98" name="detailWritingTragetDscd">
												<option data-tokens="">상세대상을 구분해주세요.</option>
												<option data-tokens="정상아동" value="정상아동">정상아동(14세미만)</option>
												<option data-tokens="지적장애인" value="지적장애인">지적장애인</option>
												<option data-tokens="치매질환자" value="치매질환자">치매질환자</option>

											</select>
										</div>
									</div>
								</div>

								<div class="col-lg-6">
									<div class="my_profile_setting_input form-group">
										<label for="occRde">발생일</label>
										<input type="date" class="form-control" id="occRde" name="occRde"
											placeholder="실종 날짜">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="my_profile_setting_input form-group">
										<label for="nm">실종자명</label>
										<input type="text" class="form-control" id="nm" name="nm" placeholder="실종자 이름">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>성별</label>
										<div class="dropdown bootstrap-select" style="width: 100%;">
											<select class="selectpicker" data-live-search="true" data-width="100%"
												tabindex="-98" name="sexDstnDscd">
												<option data-tokens="">성별을 구분해주세요.</option>
												<option data-tokens="남자" value="남자">남자</option>
												<option data-tokens="여자" value="여자">여자</option>
											</select>
										</div>
									</div>
								</div>

								<div class="col-lg-6">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>얼굴형</label>
										<input type="text" maxlength="3" class="form-control" id="faceShapeDscd"
											name="faceShapeDscd" placeholder="ex) 계란형">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>당시 나이</label>
										<input type="date" class="form-control" id="age" name="age"
											placeholder="Facebook url">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>현재 나이</label>
										<input type="date" class="form-control" id="ageNow" name="ageNow"
											placeholder="Facebook url">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>키</label>
										<input type="number" maxlength="3" class="form-control" id="height"
											name="height" placeholder="신장을 입력해주세요">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>체격</label>
										<div class="dropdown bootstrap-select" style="width: 100%;">
											<select class="selectpicker" data-live-search="true" data-width="100%"
												tabindex="-98" name="frmDscd">
												<option data-tokens="">체격을 구분해주세요.</option>
												<option data-tokens="마름" value="마름">마름</option>
												<option data-tokens="보통" value="보통">보통</option>
												<option data-tokens="건장" value="건장">건장</option>
											</select>
										</div>
									</div>
								</div>

								<div class="col-lg-6">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>두발형태</label>
										<input type="text" maxlength="3" class="form-control" id="hairShapeDscd"
											name="hairShapeDscd" placeholder="ex) 스포츠 머리">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>두발색상</label>
										<input type="text" maxlength="3" class="form-control" id="facesHapeDscd"
											name="facesHapeDscd" placeholder="ex) 갈색">
									</div>
								</div>

								<div class="col-lg-12">
									<div class="my_profile_setting_textarea">
										<label for="propertyDescription">착의사항</label>
										<textarea class="form-control" id="aldressingDscd" name="aldressingDscd"
											rows="4" placeholder="실종당시 입고있던 의류 혹은 기타 특이사항을 적어주세요"></textarea>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="my_profile_setting_input ui_kit_select_search form-group">
										<label>실종장소</label>
										<input type="text" maxlength="3" class="form-control" id="occrAdres"
											name="occrAdres" placeholder="예상장소 혹은 실제 장소를 입력해주세요.">
									</div>
								</div>

								<div class="col-lg-12" style="padding-top: 3%;">
									<button type="submit" class="btn btn-log btn-block btn-thm"
										style="height: 60px;">수정하기</button>
								</div>

							</div>
						</div>
					</form>
				</div>
			</div>

	</div>
	</section>

	</div>
	<!-- Wrapper End -->
	<script src="/js/jquery-3.6.0.js"></script>
	<script src="/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mmenu.all.js"></script>
	<script src="/js/ace-responsive-menu.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/isotop.js"></script>
	<script src="/js/snackbar.min.js"></script>
	<script src="/js/simplebar.js"></script>
	<script src="/js/parallax.js"></script>
	<script src="/js/scrollto.js"></script>
	<script src="/js/jquery-scrolltofixed-min.js"></script>
	<script src="/js/jquery.counterup.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/progressbar.js"></script>
	<script src="/js/slider.js"></script>
	<script src="/js/timepicker.js"></script>
	<!-- Custom script for all pages -->
	<script src="/js/script.js"></script>
	<script>
		// 기존에 성별을 CheckBox로 받았을때 둘중 하나만 선택하는 방법
		function genderCheckBox(elements) {
			let items = document.getElementsByName("gender");

			items.forEach((item) => {
				item.checked = false;
			})

			elements.checked = true;
		}

		// image 눌렀을 경우 해당하는 파일 업로드 실행

		function ageNowFileUpload() {
			document.getElementById("ageNowFile").click();

		}
	</script>
</body>

</html>